@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  --background-color: #0a0c0a; /* Background color */
  --text-color: #fff; /* Main text color */
  --link-color: #83503e; /* Link color */
  --border-color: #454141; /* Border color */
  --hover-color: #794939; /* Hover color for buttons */
  --shadow-color: #553424; /* Shadow color for profile images */
  --description-color: #555; /* Color for project descriptions */
}

.light-mode {
  --background-color: #5b4b7d; /* Light mode background */
  --text-color: #000; /* Light mode text color */
  --link-color: #007bff; /* Light mode link color */
  --border-color: #007bff; /* Light mode border color */
  --hover-color: #0056b3; /* Light mode hover color */
  --shadow-color: rgba(0, 0, 0, 0.1); /* Light mode shadow color */
  --description-color: #fc8554; /* Light mode description color */
  background-image: url("./assets/giphy4.gif");
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Pixelify Sans";
  margin: 0;
  padding: 0;
  background-image: url("./assets/giphy1.gif"); /* Add your GIF path here */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Prevent the background from repeating */
}

header {
  text-align: start;
  padding: 0 40px;
}

div ul li {
  margin: 0 15px;
}

div a {
  color: var(--link-color);
  text-decoration: none;
  font-size: 1.5rem;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.menu {
  margin-top: 0;
}

.menu ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.menu-item {
  margin-left: 20px;
}

.menu-item:hover {
  transform: scale(1.35);
}

.back {
  text-decoration: none;
  color: var(--link-color);
}

/* PAGE CONTENT */

section {
  padding: 20px;
  border: 2px solid var(--border-color);
  margin: 40px;
  background-color: var(--background-color);
}

.project {
  margin: 20px 0;
}

footer {
  position: relative;
  bottom: 5px;
  text-align: center;
  width: 100%;
}

footer p {
  font-size: 0.75rem;
}

.profile {
  display: flex;
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid var(--shadow-color);
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  gap: 5rem;
}

.text-container p,
h4 {
  margin: 0;
}
.text-container h1 {
  margin: 5px 0;
}

p {
  font-size: 1.25rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.15rem;
}

/* PROJECTS */

#my-projects {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 35px;
}

.portfolio-card {
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  width: 255px;
  height: 330px;
  text-align: center;
  overflow: hidden;
}

.portfolio-card:hover {
  transform: scale(1.05);
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image {
  width: 80%;
  margin-top: 15px;
  height: auto;
  border: 2px solid var(--border-color);
}

.project-title {
  font-size: 1.25em;
  margin: 10px 0;
}

.project-description {
  padding: 0 15px;
  color: var(--description-color);
  font-size: 0.85rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.button {
  background-color: var(--link-color);
  color: var(--background-color);
  padding: 7px 11px;
  font-size: 1.25rem;
  text-decoration: none;
}

.button:hover {
  background-color: var(--hover-color);
}

/* CONTACT */

.card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin: 0 0 8px;
}

.card p {
  margin: 4px 0;
}

/* ABOUT */

.about-container {
  display: flex;
  align-items: center;
}

.about-container img {
  max-width: 250px;
  margin-right: 30px;
  border-radius: 50%;
  border: 10px solid var(--shadow-color);
}

/* THEME */

#theme-toggle {
  font-family: "Pixelify Sans";
  border: none;
  background: none;
  color: var(--text-color);
  cursor: pointer;
}
